.productContainer {
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--font-primary);
    font-size: x-large;
}

.prodFullImage img {
    border-radius: 10px;
    width: 500px;
    height: 500px;
}

.prodDetails {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.colorDisplay {
    width: 20px;
    height: 20px;
}

select {
    width: 100px;
    font-size: large;
}

option {
    font-size: large;
}